<mat-card class="rounded-xl p-3 m-2" appearance="outlined">
  <mat-card-header >
    <div *ngIf="avatar" mat-card-avatar [style.background-image]="'url(' + avatar + ')'" style="background-size: cover"></div>
    <mat-card-title *ngIf="title">{{title}}</mat-card-title>
    <mat-card-subtitle *ngIf="subtitle" >{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="imageSrc" mat-card-image [src]=imageSrc class="rounded-xl m-2" >
  <mat-card-content *ngIf="text">
    <p>
      {{text}}
    </p>
  </mat-card-content>
  <mat-card-actions  align="end">
    <button  mat-flat-button (click)="onAction()" [color]="colorButton">{{buttonLabel}}</button>
  </mat-card-actions>
</mat-card>
